body {
  background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.6)), url("../car.jpg");
  background-size: cover;
  background-position: center;
  color: #F7F8FF;
}

.Box {
  max-width: 700px;
  float: none;
  margin: 100px auto;
  background: rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  padding: 30px;
}

.head {
  max-width: 100%;
  max-height: 200px;
  b
  float: none;
  text-align: center;
  margin-top: 2em;
  
}

h1 {
  font-size: 3rem;
  font-family: 'Righteous', cursive;
}
h5{
  text-align: center;
}



.navia{
  color: white;
}
li{
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
}


.regicard {
  margin: auto;
  min-width: 60%;
  
}


.inputfd {
  border: 1px solid #B0B1BD;
}


.gotolog {
  display: flex;
  margin: 1em;
}

.gotolog a {
  text-decoration: none;
  color: #0015FF;
}

.regia {
  color: #FFFFFF;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.banner-image {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.1));
  background-size: cover;
  background-position: center;
}
.info{
  margin-top: 3em;
}
.info h3{
  text-align: center;
  font-family: 'Righteous',sans-serif;
  color: white;
}
.form-group{
  position: relative;
}
